openapi: 3.0.3
info:
  title: Service Commande — API
  description: >
    Gestion du panier, du cycle de vie des commandes et orchestration de la SAGA
    « passage de commande ». Exposé aux clients via l'API Gateway (préfixe /v1).
  version: 1.0.0
  contact:
    name: Groupe 14 — ESGI 4AL
servers:
  - url: https://api.plateforme-repas.fr/v1
    description: Production (via API Gateway Kong)
  - url: http://localhost:8003/v1
    description: Développement local
tags:
  - name: Commandes
  - name: Panier
security:
  - bearerAuth: []
paths:
  /commandes:
    post:
      tags: [Commandes]
      summary: Créer une commande (démarre la SAGA)
      description: >
        Crée la commande à l'état RECUE puis déclenche l'orchestration :
        autorisation du paiement, demande d'acceptation au restaurant,
        affectation d'un livreur. Requête idempotente via l'en-tête Idempotency-Key.
      operationId: creerCommande
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, format: uuid }
          description: Clé d'idempotence — un même panier soumis deux fois ne crée qu'une commande.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CommandeCreation' }
            example:
              restaurantId: "9f1c1d2e-3a4b-4c5d-8e9f-0a1b2c3d4e5f"
              adresseLivraisonId: "5e6f7a8b-9c0d-4e1f-a2b3-c4d5e6f7a8b9"
              moyenPaiementId: "pm_4242"
              lignes:
                - platId: "1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d"
                  quantite: 2
                  options: ["sans oignons"]
      responses:
        '201':
          description: Commande créée, SAGA démarrée.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Commande' }
        '400': { $ref: '#/components/responses/ErreurValidation' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
        '409':
          description: Conflit — clé d'idempotence déjà utilisée avec un contenu différent.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Erreur' }
        '503':
          description: >
            Paiement momentanément indisponible (circuit breaker ouvert).
            La commande est conservée à l'état EN_ATTENTE_PAIEMENT ; réessayer après le délai indiqué.
          headers:
            Retry-After:
              schema: { type: integer, example: 30 }
              description: Délai conseillé avant nouvel essai (secondes).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Erreur' }
    get:
      tags: [Commandes]
      summary: Lister les commandes du client authentifié
      operationId: listerCommandes
      parameters:
        - in: query
          name: statut
          schema: { $ref: '#/components/schemas/StatutCommande' }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: taille
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: Liste paginée.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Commande' }
                  page: { type: integer }
                  total: { type: integer }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
  /commandes/{commandeId}:
    parameters:
      - $ref: '#/components/parameters/CommandeId'
    get:
      tags: [Commandes]
      summary: Consulter une commande (détail + état de suivi)
      operationId: consulterCommande
      responses:
        '200':
          description: Détail de la commande.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Commande' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
  /commandes/{commandeId}/annulation:
    post:
      tags: [Commandes]
      summary: Annuler une commande (si non passée en préparation)
      description: >
        Possible uniquement avant l'acceptation par le restaurant (état RECUE).
        Déclenche la compensation de la SAGA : remboursement de l'autorisation.
      operationId: annulerCommande
      parameters:
        - $ref: '#/components/parameters/CommandeId'
      responses:
        '200':
          description: Commande annulée, remboursement engagé.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Commande' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
        '422':
          description: Annulation impossible dans l'état actuel (déjà EN_PREPARATION ou plus).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Erreur' }
  /commandes/{commandeId}/evenements:
    get:
      tags: [Commandes]
      summary: Historique des événements de la commande (suivi / audit de la SAGA)
      operationId: listerEvenementsCommande
      parameters:
        - $ref: '#/components/parameters/CommandeId'
      responses:
        '200':
          description: Événements ordonnés chronologiquement.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/EvenementCommande' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT émis par le service Client, validé par l'API Gateway.
  parameters:
    CommandeId:
      in: path
      name: commandeId
      required: true
      schema: { type: string, format: uuid }
  responses:
    ErreurValidation:
      description: Requête invalide (validation).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Erreur' }
    NonAuthentifie:
      description: JWT absent ou invalide.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Erreur' }
    IntrouvableRep:
      description: Ressource introuvable ou n'appartenant pas au client.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Erreur' }
  schemas:
    StatutCommande:
      type: string
      enum: [RECUE, EN_ATTENTE_PAIEMENT, EN_PREPARATION, EN_LIVRAISON, LIVREE, ANNULEE]
      description: États du cycle de vie visibles du client.
    CommandeCreation:
      type: object
      required: [restaurantId, adresseLivraisonId, moyenPaiementId, lignes]
      properties:
        restaurantId: { type: string, format: uuid }
        adresseLivraisonId: { type: string, format: uuid }
        moyenPaiementId:
          type: string
          description: Référence tokenisée du moyen de paiement (jamais de numéro de carte).
        lignes:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/LigneCreation' }
    LigneCreation:
      type: object
      required: [platId, quantite]
      properties:
        platId: { type: string, format: uuid }
        quantite: { type: integer, minimum: 1, maximum: 20 }
        options:
          type: array
          items: { type: string }
    Commande:
      type: object
      properties:
        id: { type: string, format: uuid }
        clientId: { type: string, format: uuid }
        restaurantId: { type: string, format: uuid }
        statut: { $ref: '#/components/schemas/StatutCommande' }
        lignes:
          type: array
          items: { $ref: '#/components/schemas/Ligne' }
        montantPlats: { type: number, format: decimal, example: 24.50 }
        fraisLivraison: { type: number, format: decimal, example: 2.99 }
        montantTotal: { type: number, format: decimal, example: 27.49 }
        adresseLivraison: { $ref: '#/components/schemas/Adresse' }
        livraisonId:
          type: string
          format: uuid
          nullable: true
          description: Référence de la course (service Livraison), disponible dès l'affectation.
        creeLe: { type: string, format: date-time }
    Ligne:
      type: object
      properties:
        platId: { type: string, format: uuid }
        libelle: { type: string, example: "Pizza Margherita" }
        prixUnitaire: { type: number, format: decimal, example: 12.25 }
        quantite: { type: integer, example: 2 }
        options:
          type: array
          items: { type: string }
    Adresse:
      type: object
      properties:
        rue: { type: string }
        ville: { type: string }
        codePostal: { type: string }
        lat: { type: number }
        lng: { type: number }
    EvenementCommande:
      type: object
      properties:
        type: { type: string, example: "order.acceptee" }
        horodatage: { type: string, format: date-time }
        details: { type: object, additionalProperties: true }
    Erreur:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: "COMMANDE_NON_ANNULABLE" }
        message: { type: string, example: "La commande est déjà en préparation." }
        details: { type: object, additionalProperties: true }
