openapi: 3.0.3
info:
  title: Service Restaurant — API
  description: >
    Gestion des profils restaurants, des menus (plats, prix, options), des horaires
    et de l'acceptation des commandes par le restaurateur.
  version: 1.0.0
  contact:
    name: Groupe 14 — ESGI 4AL
servers:
  - url: https://api.plateforme-repas.fr/v1
    description: Production (via API Gateway Kong)
  - url: http://localhost:8002/v1
    description: Développement local
tags:
  - name: Restaurants
  - name: Menus
  - name: Tickets de commande
security:
  - bearerAuth: []
paths:
  /restaurants:
    post:
      tags: [Restaurants]
      summary: Inscrire un restaurant
      operationId: creerRestaurant
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RestaurantCreation' }
      responses:
        '201':
          description: Restaurant créé.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Restaurant' }
        '400': { $ref: '#/components/responses/ErreurValidation' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
  /restaurants/{restaurantId}:
    parameters:
      - $ref: '#/components/parameters/RestaurantId'
    get:
      tags: [Restaurants]
      summary: Consulter un restaurant (profil, horaires, menus)
      security: []
      operationId: consulterRestaurant
      responses:
        '200':
          description: Détail du restaurant.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Restaurant' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
    put:
      tags: [Restaurants]
      summary: Mettre à jour le profil / les horaires
      description: Publie l'événement `menu.mis-a-jour` consommé par le service Catalogue.
      operationId: modifierRestaurant
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RestaurantCreation' }
      responses:
        '200':
          description: Restaurant mis à jour.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Restaurant' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
  /restaurants/{restaurantId}/menus:
    parameters:
      - $ref: '#/components/parameters/RestaurantId'
    put:
      tags: [Menus]
      summary: Remplacer les menus du restaurant (plats, prix, options, disponibilité)
      description: >
        Le menu est un agrégat : il est modifié en une opération atomique.
        Publie `menu.mis-a-jour` (projection catalogue).
      operationId: remplacerMenus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items: { $ref: '#/components/schemas/Menu' }
      responses:
        '200':
          description: Menus mis à jour.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Restaurant' }
        '400': { $ref: '#/components/responses/ErreurValidation' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
  /restaurants/{restaurantId}/commandes:
    parameters:
      - $ref: '#/components/parameters/RestaurantId'
    get:
      tags: [Tickets de commande]
      summary: Lister les tickets de commande en attente ou en préparation
      operationId: listerTickets
      parameters:
        - in: query
          name: statut
          schema:
            type: string
            enum: [EN_ATTENTE, ACCEPTEE, EN_PREPARATION, PRETE]
      responses:
        '200':
          description: Tickets du restaurant.
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/TicketCommande' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
  /restaurants/{restaurantId}/commandes/{orderId}/decision:
    post:
      tags: [Tickets de commande]
      summary: Accepter ou refuser une commande (étape 3 de la SAGA)
      description: >
        Réponse du restaurateur à `restaurant.acceptation.demandee`.
        Publie `order.acceptee` ou `order.refusee` vers l'orchestrateur.
        Sans décision sous 5 minutes, la SAGA compense automatiquement (refus implicite).
      operationId: deciderCommande
      parameters:
        - $ref: '#/components/parameters/RestaurantId'
        - in: path
          name: orderId
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [ACCEPTEE, REFUSEE]
                motifRefus:
                  type: string
                  example: "rupture de stock"
                delaiPreparationMin:
                  type: integer
                  example: 20
      responses:
        '200':
          description: Décision enregistrée et publiée.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TicketCommande' }
        '401': { $ref: '#/components/responses/NonAuthentifie' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
        '422':
          description: Décision impossible (ticket expiré ou déjà décidé).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Erreur' }
  /restaurants/{restaurantId}/commandes/{orderId}/prete:
    post:
      tags: [Tickets de commande]
      summary: Signaler que la commande est prête (déclenche l'affectation d'un livreur)
      operationId: signalerPrete
      parameters:
        - $ref: '#/components/parameters/RestaurantId'
        - in: path
          name: orderId
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Événement `order.prete` publié.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TicketCommande' }
        '404': { $ref: '#/components/responses/IntrouvableRep' }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    RestaurantId:
      in: path
      name: restaurantId
      required: true
      schema: { type: string, format: uuid }
  responses:
    ErreurValidation:
      description: Requête invalide.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Erreur' }
    NonAuthentifie:
      description: JWT absent, invalide ou restaurateur non propriétaire.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Erreur' }
    IntrouvableRep:
      description: Ressource introuvable.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Erreur' }
  schemas:
    Restaurant:
      type: object
      properties:
        id: { type: string, format: uuid }
        nom: { type: string, example: "Chez Luigi" }
        typeCuisine: { type: string, example: "italien" }
        adresse: { $ref: '#/components/schemas/Adresse' }
        horaires:
          type: array
          items: { $ref: '#/components/schemas/PlageHoraire' }
        menus:
          type: array
          items: { $ref: '#/components/schemas/Menu' }
        ouvert: { type: boolean }
        noteMoyenne: { type: number, example: 4.6 }
    RestaurantCreation:
      type: object
      required: [nom, typeCuisine, adresse]
      properties:
        nom: { type: string }
        typeCuisine: { type: string }
        adresse: { $ref: '#/components/schemas/Adresse' }
        horaires:
          type: array
          items: { $ref: '#/components/schemas/PlageHoraire' }
    Menu:
      type: object
      required: [nom, plats]
      properties:
        nom: { type: string, example: "Pizzas" }
        plats:
          type: array
          items: { $ref: '#/components/schemas/Plat' }
    Plat:
      type: object
      required: [libelle, prix]
      properties:
        id: { type: string, format: uuid, readOnly: true }
        libelle: { type: string, example: "Pizza Margherita" }
        description: { type: string, example: "Tomate, mozzarella, basilic" }
        prix: { type: number, format: decimal, example: 12.25 }
        options:
          type: array
          items: { type: string }
          example: ["sans oignons", "supplément fromage"]
        disponible: { type: boolean, default: true }
    PlageHoraire:
      type: object
      properties:
        jour:
          type: string
          enum: [LUNDI, MARDI, MERCREDI, JEUDI, VENDREDI, SAMEDI, DIMANCHE]
        ouverture: { type: string, example: "11:30" }
        fermeture: { type: string, example: "22:30" }
    TicketCommande:
      type: object
      description: Vue « restaurant » d'une commande (bounded context distinct du service Commande).
      properties:
        orderId: { type: string, format: uuid }
        statut:
          type: string
          enum: [EN_ATTENTE, ACCEPTEE, REFUSEE, EN_PREPARATION, PRETE, EXPIREE]
        lignes:
          type: array
          items:
            type: object
            properties:
              libelle: { type: string }
              quantite: { type: integer }
              options:
                type: array
                items: { type: string }
        recueLe: { type: string, format: date-time }
        echeanceDecision:
          type: string
          format: date-time
          description: Au-delà, la SAGA considère un refus implicite.
    Adresse:
      type: object
      properties:
        rue: { type: string }
        ville: { type: string }
        codePostal: { type: string }
        lat: { type: number }
        lng: { type: number }
    Erreur:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: "TICKET_EXPIRE" }
        message: { type: string }
        details: { type: object, additionalProperties: true }
